nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 16.25rem;
  gap: var(--gap-0);

}

@media (min-width: 26.625rem) {
  nav > ul {
    gap: var(--gap-4);
  }
}