.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0rem auto 0.625rem;
  padding: 1.5625rem 0rem;
  gap: 1.6875rem 6rem;
}

@media (min-width: 26.625rem) {
  .container {
    flex-direction: row;
    max-width: 56.25rem;
    padding: 0.3125rem 1.875rem 1.5625rem;
    gap: 1.6875rem 1.25rem;
  }
}

@media (min-width: 48.0625rem) {
  .container {
    padding: 0.3125rem 0.625rem 1.5625rem;
  }
}